In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
inst_="internet_graph"
method_="mip"
dim_=300
id_=3
ver_="fmin"

In [3]:
form_="fminc2"

file=f"../result/{inst_}/{method_}/{ver_}/{dim_}/{method_}_{form_}_{inst_}_{dim_}_{id_}.txt"

df = pd.DataFrame()
df = pd.read_csv(file,header=None,sep=';')

table = pd.DataFrame()
table = pd.concat([table, df], ignore_index=True)
table.columns = ['vertice','bb','bs','gap','time','nodes','opt']

resume = pd.DataFrame({
    'vertice':f"{method_}_{form_}_{dim_}_{id_}",
    'bb':table["bb"].sum(),
    'bs':table["bs"].sum(),
    'gap':table['gap'].sum(),
    'time':table['time'].sum(),
    'nodes':table['nodes'].sum(),
    'opt':table['opt'].sum(),
    "tk":table["bs"].max(),
    "tmax":table["time"].max()
    },index=[f"{form_}_{inst_}_{dim_}_{id_}"]
)

table = pd.concat([table, resume], ignore_index=True)
mip_internet_c2 = table
#mip_internet_c2

#print(mip_internet_c2[['vertice','bb','bs','gap','time','nodes','opt']].to_latex(index=False,float_format="%.2f"))

In [4]:
form_="fminmisetc2"

file=f"../result/{inst_}/{method_}/{ver_}/{dim_}/{method_}_{form_}_{inst_}_{dim_}_{id_}.txt"

df = pd.DataFrame()
df = pd.read_csv(file,header=None,sep=';')

table = pd.DataFrame()
table = pd.concat([table, df], ignore_index=True)
table.columns = ['vertice','bb','bs','gap','time','nodes','opt']

resume = pd.DataFrame({
    'vertice':f"{method_}_{form_}_{dim_}_{id_}",
    'bb':table["bb"].sum(),
    'bs':table["bs"].sum(),
    'gap':table['gap'].sum(),
    'time':table['time'].sum(),
    'nodes':table['nodes'].sum(),
    'opt':table['opt'].sum(),
    "tk":table["bs"].max(),
    "tmax":table["time"].max()
    },index=[f"{form_}_{inst_}_{dim_}_{id_}"]
)

table = pd.concat([table, resume], ignore_index=True)
mip_internet_misetc2 = table
#mip_internet_misetc2

#print(mip_internet_misetc2[['vertice','bb','bs','gap','time','nodes','opt']].to_latex(index=False,float_format="%.2f"))

In [5]:
form_="fminmisetc3"

file=f"../result/{inst_}/{method_}/{ver_}/{dim_}/{method_}_{form_}_{inst_}_{dim_}_{id_}.txt"

df = pd.DataFrame()
df = pd.read_csv(file,header=None,sep=';')

table = pd.DataFrame()
table = pd.concat([table, df], ignore_index=True)
table.columns = ['vertice','bb','bs','gap','time','nodes','opt']

resume = pd.DataFrame({
    'vertice':f"{method_}_{form_}_{dim_}_{id_}",
    'bb':table["bb"].sum(),
    'bs':table["bs"].sum(),
    'gap':table['gap'].sum(),
    'time':table['time'].sum(),
    'nodes':table['nodes'].sum(),
    'opt':table['opt'].sum(),
    "tk":table["bs"].max(),
    "tmax":table["time"].max()
    },index=[f"{form_}_{inst_}_{dim_}_{id_}"]
)

table = pd.concat([table, resume], ignore_index=True)
mip_internet_misetc3 = table
#mip_internet_misetc3

#print(mip_internet_misetc3[['vertice','bb','bs','gap','time','nodes','opt']].to_latex(index=False,float_format="%.2f"))

In [6]:
form_="fminmiset"

file=f"../result/{inst_}/{method_}/{ver_}/{dim_}/{method_}_{form_}_{inst_}_{dim_}_{id_}.txt"

df = pd.DataFrame()
df = pd.read_csv(file,header=None,sep=';')

table = pd.DataFrame()
table = pd.concat([table, df], ignore_index=True)
table.columns = ['vertice','bb','bs','gap','time','nodes','opt']

resume = pd.DataFrame({
    'vertice':f"{method_}_{form_}_{dim_}_{id_}",
    'bb':table["bb"].sum(),
    'bs':table["bs"].sum(),
    'gap':table['gap'].sum(),
    'time':table['time'].sum(),
    'nodes':table['nodes'].sum(),
    'opt':table['opt'].sum(),
    "tk":table["bs"].max(),
    "tmax":table["time"].max()
    },index=[f"{form_}_{inst_}_{dim_}_{id_}"]
)

table = pd.concat([table, resume], ignore_index=True)
mip_internet_miset = table
#mip_internet_miset

#print(mip_internet_miset[['vertice','bb','bs','gap','time','nodes','opt']].to_latex(index=False,float_format="%.2f"))

In [7]:
form_="fmincutmisetc3"

file=f"../result/{inst_}/{method_}/{ver_}/{dim_}/{method_}_{form_}_{inst_}_{dim_}_{id_}.txt"

df = pd.DataFrame()
df = pd.read_csv(file,header=None,sep=';')

table = pd.DataFrame()
table = pd.concat([table, df], ignore_index=True)
table.columns = ['vertice','bb','bs','gap','time','nodes','opt']

resume = pd.DataFrame({
    'vertice':f"{method_}_{form_}_{dim_}_{id_}",
    'bb':table["bb"].sum(),
    'bs':table["bs"].sum(),
    'gap':table['gap'].sum(),
    'time':table['time'].sum(),
    'nodes':table['nodes'].sum(),
    'opt':table['opt'].sum(),
    "tk":table["bs"].max(),
    "tmax":table["time"].max()
    },index=[f"{form_}_{inst_}_{dim_}_{id_}"]
)

table = pd.concat([table, resume], ignore_index=True)
mip_internet_cutmisetc3 = table
#mip_internet_cutmisetc3

#print(mip_internet_cut_misetc3[['vertice','bb','bs','gap','time','nodes','opt']].to_latex(index=False,float_format="%.2f"))

In [8]:
form_="fmincutbmisetc3"

file=f"../result/{inst_}/{method_}/{ver_}/{dim_}/{method_}_{form_}_{inst_}_{dim_}_{id_}.txt"

df = pd.DataFrame()
df = pd.read_csv(file,header=None,sep=';')

table = pd.DataFrame()
table = pd.concat([table, df], ignore_index=True)
table.columns = ['vertice','bb','bs','gap','time','nodes','opt']

resume = pd.DataFrame({
    'vertice':f"{method_}_{form_}_{dim_}_{id_}",
    'bb':table["bb"].sum(),
    'bs':table["bs"].sum(),
    'gap':table['gap'].sum(),
    'time':table['time'].sum(),
    'nodes':table['nodes'].sum(),
    'opt':table['opt'].sum(),
    "tk":table["bs"].max(),
    "tmax":table["time"].max()
    },index=[f"{form_}_{inst_}_{dim_}_{id_}"]
)

table = pd.concat([table, resume], ignore_index=True)
mip_internet_cutbmisetc3 = table
#mip_internet_cutbmisetc3

#print(mip_internet_cutb_misetc3[['vertice','bb','bs','gap','time','nodes','opt']].to_latex(index=False,float_format="%.2f"))

In [9]:
mip_merge = pd.DataFrame()

mip_merge = pd.merge(
    mip_internet_c2, mip_internet_misetc2,
    on=['vertice'], 
    suffixes=("", "_f"),
    )

mip_merge = pd.merge(
    mip_merge, mip_internet_misetc3,
    on=['vertice'], 
    suffixes=("", "_g"),
    )

mip_merge = pd.merge(
    mip_merge, mip_internet_miset,
    on=['vertice'], 
    suffixes=("", "_h"),
    )

mip_merge = pd.merge(
    mip_merge, mip_internet_cutmisetc3,
    on=['vertice'], 
    suffixes=("", "_i"),
    )


mip_merge = pd.merge(
    mip_merge, mip_internet_cutbmisetc3,
    on=['vertice'], 
    suffixes=("", "_j"),
    )

mip_merge[[
    'vertice',
    'bs','gap','time','opt','tk','tmax',
    'bs_f','gap_f','time_f','opt_f','tk_f','tmax_f',
    'bs_g','gap_g','time_g','opt_g','tk_g','tmax_g',
    'bs_h','gap_h','time_h','opt_h','tk_h','tmax_h',
    'bs_i','gap_i','time_i','opt_i','tk_i','tmax_i',
    'bs_j','gap_j','time_j','opt_j','tk_j','tmax_j',
    ]]

,vertice,bs,gap,time,opt,tk,tmax,bs_f,gap_f,time_f,...,time_i,opt_i,tk_i,tmax_i,bs_j,gap_j,time_j,opt_j,tk_j,tmax_j
0,0,224.0,0.0,64.58,1.0,NaN,NaN,224.0,0.0,57.54,...,42.61,1.0,NaN,NaN,224.0,0.0,37.64,1.0,NaN,NaN
1,1,224.0,0.0,54.15,1.0,NaN,NaN,224.0,0.0,42.71,...,34.19,1.0,NaN,NaN,224.0,0.0,29.82,1.0,NaN,NaN
2,2,224.0,0.0,65.31,1.0,NaN,NaN,224.0,0.0,48.91,...,31.80,1.0,NaN,NaN,224.0,0.0,27.94,1.0,NaN,NaN
3,3,224.0,0.0,44.38,1.0,NaN,NaN,224.0,0.0,33.05,...,24.04,1.0,NaN,NaN,224.0,0.0,21.24,1.0,NaN,NaN
4,4,222.0,0.0,60.18,1.0,NaN,NaN,222.0,0.0,55.77,...,26.64,1.0,NaN,NaN,222.0,0.0,22.93,1.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
295,295,1.0,0.0,0.00,1.0,NaN,NaN,1.0,0.0,0.00,...,0.00,1.0,NaN,NaN,1.0,0.0,0.00,1.0,NaN,NaN
296,296,1.0,0.0,0.00,1.0,NaN,NaN,1.0,0.0,0.00,...,0.00,1.0,NaN,NaN,1.0,0.0,0.00,1.0,NaN,NaN
297,297,1.0,0.0,0.00,1.0,NaN,NaN,1.0,0.0,0.00,...,0.00,1.0,NaN,NaN,1.0,0.0,0.00,1.0,NaN,NaN
298,298,1.0,0.0,0.00,1.0,NaN,NaN,1.0,0.0,0.00,...,0.00,1.0,NaN,NaN,1.0,0.0,0.00,1.0,NaN,NaN
299,299,1.0,0.0,0.00,1.0,NaN,NaN,1.0,0.0,0.00,...,0.00,1.0,NaN,NaN,1.0,0.0,0.00,1.0,NaN,NaN

In [10]:
mip_concat = pd.DataFrame()
mip_concat = pd.concat([mip_concat, mip_internet_c2.loc[300:300]], ignore_index=True)
mip_concat = pd.concat([mip_concat, mip_internet_misetc2.loc[300:300]], ignore_index=True)
mip_concat = pd.concat([mip_concat, mip_internet_misetc3.loc[300:300]], ignore_index=True)
mip_concat = pd.concat([mip_concat, mip_internet_miset.loc[300:300]], ignore_index=True)
mip_concat = pd.concat([mip_concat, mip_internet_cutmisetc3.loc[300:300]], ignore_index=True)
mip_concat = pd.concat([mip_concat, mip_internet_cutbmisetc3.loc[300:300]], ignore_index=True)
mip_concat

,vertice,bb,bs,gap,time,nodes,opt,tk,tmax
0,mip_fminc2_300_3,13369.0,13369.0,0.0,3875.54,16204.0,300.0,224.0,92.38
1,mip_fminmisetc2_300_3,13369.0,13369.0,0.0,3544.26,1291.0,300.0,224.0,95.24
2,mip_fminmisetc3_300_3,13369.0,13369.0,0.0,3095.02,1342.0,300.0,224.0,81.10
3,mip_fminmiset_300_3,12473.0,12473.0,0.0,15.98,2037.0,300.0,210.0,0.47
4,mip_fmincutmisetc3_300_3,13369.0,13369.0,0.0,2142.39,2294.0,300.0,224.0,54.58
5,mip_fmincutbmisetc3_300_3,13369.0,13369.0,0.0,1862.00,2438.0,300.0,224.0,47.56

In [11]:
print(
mip_concat[[
    'vertice','bs','gap','time','opt','tk','tmax',
    ]].to_latex(index=False,float_format="%.1f")
)

\begin{tabular}{lrrrrrr}
\toprule
                  vertice &      bs &  gap &   time &   opt &    tk &  tmax \\
\midrule
         mip\_fminc2\_300\_3 & 13369.0 &  0.0 & 3875.5 & 300.0 & 224.0 &  92.4 \\
    mip\_fminmisetc2\_300\_3 & 13369.0 &  0.0 & 3544.3 & 300.0 & 224.0 &  95.2 \\
    mip\_fminmisetc3\_300\_3 & 13369.0 &  0.0 & 3095.0 & 300.0 & 224.0 &  81.1 \\
      mip\_fminmiset\_300\_3 & 12473.0 &  0.0 &   16.0 & 300.0 & 210.0 &   0.5 \\
 mip\_fmincutmisetc3\_300\_3 & 13369.0 &  0.0 & 2142.4 & 300.0 & 224.0 &  54.6 \\
mip\_fmincutbmisetc3\_300\_3 & 13369.0 &  0.0 & 1862.0 & 300.0 & 224.0 &  47.6 \\
\bottomrule
\end{tabular}

/tmp/ipykernel_24869/1047115439.py:2: FutureWarning: In future versions `DataFrame.to_latex` is expected to utilise the base implementation of `Styler.to_latex` for formatting and rendering. The arguments signature may therefore change. It is recommended instead to use `DataFrame.style.to_latex` which also contains additional functionality.
  mip_concat[[