In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
inst_="internet_graph"
method_="mip"
dim_=200
id_=7
ver_="fmin"

In [3]:
form_="fminc2"

file=f"../result/{inst_}/{method_}/{ver_}/{dim_}/{method_}_{form_}_{inst_}_{dim_}_{id_}.txt"

df = pd.DataFrame()
df = pd.read_csv(file,header=None,sep=';')

table = pd.DataFrame()
table = pd.concat([table, df], ignore_index=True)
table.columns = ['vertice','bb','bs','gap','time','nodes','opt']

resume = pd.DataFrame({
    'vertice':f"{method_}_{form_}_{dim_}_{id_}",
    'bb':table["bb"].sum(),
    'bs':table["bs"].sum(),
    'gap':table['gap'].sum(),
    'time':table['time'].sum(),
    'nodes':table['nodes'].sum(),
    'opt':table['opt'].sum(),
    "tk":table["bs"].max(),
    "tmax":table["time"].max()
    },index=[f"{form_}_{inst_}_{dim_}_{id_}"]
)

table = pd.concat([table, resume], ignore_index=True)
mip_internet_c2 = table
#mip_internet_c2

#print(mip_internet_c2[['vertice','bb','bs','gap','time','nodes','opt']].to_latex(index=False,float_format="%.2f"))

In [4]:
form_="fminmisetc2"

file=f"../result/{inst_}/{method_}/{ver_}/{dim_}/{method_}_{form_}_{inst_}_{dim_}_{id_}.txt"

df = pd.DataFrame()
df = pd.read_csv(file,header=None,sep=';')

table = pd.DataFrame()
table = pd.concat([table, df], ignore_index=True)
table.columns = ['vertice','bb','bs','gap','time','nodes','opt']

resume = pd.DataFrame({
    'vertice':f"{method_}_{form_}_{dim_}_{id_}",
    'bb':table["bb"].sum(),
    'bs':table["bs"].sum(),
    'gap':table['gap'].sum(),
    'time':table['time'].sum(),
    'nodes':table['nodes'].sum(),
    'opt':table['opt'].sum(),
    "tk":table["bs"].max(),
    "tmax":table["time"].max()
    },index=[f"{form_}_{inst_}_{dim_}_{id_}"]
)

table = pd.concat([table, resume], ignore_index=True)
mip_internet_misetc2 = table
#mip_internet_misetc2

#print(mip_internet_misetc2[['vertice','bb','bs','gap','time','nodes','opt']].to_latex(index=False,float_format="%.2f"))

In [5]:
form_="fminmisetc3"

file=f"../result/{inst_}/{method_}/{ver_}/{dim_}/{method_}_{form_}_{inst_}_{dim_}_{id_}.txt"

df = pd.DataFrame()
df = pd.read_csv(file,header=None,sep=';')

table = pd.DataFrame()
table = pd.concat([table, df], ignore_index=True)
table.columns = ['vertice','bb','bs','gap','time','nodes','opt']

resume = pd.DataFrame({
    'vertice':f"{method_}_{form_}_{dim_}_{id_}",
    'bb':table["bb"].sum(),
    'bs':table["bs"].sum(),
    'gap':table['gap'].sum(),
    'time':table['time'].sum(),
    'nodes':table['nodes'].sum(),
    'opt':table['opt'].sum(),
    "tk":table["bs"].max(),
    "tmax":table["time"].max()
    },index=[f"{form_}_{inst_}_{dim_}_{id_}"]
)

table = pd.concat([table, resume], ignore_index=True)
mip_internet_misetc3 = table
#mip_internet_misetc3

#print(mip_internet_misetc3[['vertice','bb','bs','gap','time','nodes','opt']].to_latex(index=False,float_format="%.2f"))

In [6]:
form_="fminmiset"

file=f"../result/{inst_}/{method_}/{ver_}/{dim_}/{method_}_{form_}_{inst_}_{dim_}_{id_}.txt"

df = pd.DataFrame()
df = pd.read_csv(file,header=None,sep=';')

table = pd.DataFrame()
table = pd.concat([table, df], ignore_index=True)
table.columns = ['vertice','bb','bs','gap','time','nodes','opt']

resume = pd.DataFrame({
    'vertice':f"{method_}_{form_}_{dim_}_{id_}",
    'bb':table["bb"].sum(),
    'bs':table["bs"].sum(),
    'gap':table['gap'].sum(),
    'time':table['time'].sum(),
    'nodes':table['nodes'].sum(),
    'opt':table['opt'].sum(),
    "tk":table["bs"].max(),
    "tmax":table["time"].max()
    },index=[f"{form_}_{inst_}_{dim_}_{id_}"]
)

table = pd.concat([table, resume], ignore_index=True)
mip_internet_miset = table
#mip_internet_miset

#print(mip_internet_miset[['vertice','bb','bs','gap','time','nodes','opt']].to_latex(index=False,float_format="%.2f"))

In [7]:
form_="fmincutmisetc3"

file=f"../result/{inst_}/{method_}/{ver_}/{dim_}/{method_}_{form_}_{inst_}_{dim_}_{id_}.txt"

df = pd.DataFrame()
df = pd.read_csv(file,header=None,sep=';')

table = pd.DataFrame()
table = pd.concat([table, df], ignore_index=True)
table.columns = ['vertice','bb','bs','gap','time','nodes','opt']

resume = pd.DataFrame({
    'vertice':f"{method_}_{form_}_{dim_}_{id_}",
    'bb':table["bb"].sum(),
    'bs':table["bs"].sum(),
    'gap':table['gap'].sum(),
    'time':table['time'].sum(),
    'nodes':table['nodes'].sum(),
    'opt':table['opt'].sum(),
    "tk":table["bs"].max(),
    "tmax":table["time"].max()
    },index=[f"{form_}_{inst_}_{dim_}_{id_}"]
)

table = pd.concat([table, resume], ignore_index=True)
mip_internet_cutmisetc3 = table
#mip_internet_cutmisetc3

#print(mip_internet_cut_misetc3[['vertice','bb','bs','gap','time','nodes','opt']].to_latex(index=False,float_format="%.2f"))

In [8]:
form_="fmincutbmisetc3"

file=f"../result/{inst_}/{method_}/{ver_}/{dim_}/{method_}_{form_}_{inst_}_{dim_}_{id_}.txt"

df = pd.DataFrame()
df = pd.read_csv(file,header=None,sep=';')

table = pd.DataFrame()
table = pd.concat([table, df], ignore_index=True)
table.columns = ['vertice','bb','bs','gap','time','nodes','opt']

resume = pd.DataFrame({
    'vertice':f"{method_}_{form_}_{dim_}_{id_}",
    'bb':table["bb"].sum(),
    'bs':table["bs"].sum(),
    'gap':table['gap'].sum(),
    'time':table['time'].sum(),
    'nodes':table['nodes'].sum(),
    'opt':table['opt'].sum(),
    "tk":table["bs"].max(),
    "tmax":table["time"].max()
    },index=[f"{form_}_{inst_}_{dim_}_{id_}"]
)

table = pd.concat([table, resume], ignore_index=True)
mip_internet_cutbmisetc3 = table
#mip_internet_cutbmisetc3

#print(mip_internet_cutb_misetc3[['vertice','bb','bs','gap','time','nodes','opt']].to_latex(index=False,float_format="%.2f"))

In [9]:
mip_merge = pd.DataFrame()

mip_merge = pd.merge(
    mip_internet_c2, mip_internet_misetc2,
    on=['vertice'], 
    suffixes=("", "_f"),
    )

mip_merge = pd.merge(
    mip_merge, mip_internet_misetc3,
    on=['vertice'], 
    suffixes=("", "_g"),
    )

mip_merge = pd.merge(
    mip_merge, mip_internet_miset,
    on=['vertice'], 
    suffixes=("", "_h"),
    )

mip_merge = pd.merge(
    mip_merge, mip_internet_cutmisetc3,
    on=['vertice'], 
    suffixes=("", "_i"),
    )


mip_merge = pd.merge(
    mip_merge, mip_internet_cutbmisetc3,
    on=['vertice'], 
    suffixes=("", "_j"),
    )

mip_merge[[
    'vertice',
    'bs','gap','time','opt','tk','tmax',
    'bs_f','gap_f','time_f','opt_f','tk_f','tmax_f',
    'bs_g','gap_g','time_g','opt_g','tk_g','tmax_g',
    'bs_h','gap_h','time_h','opt_h','tk_h','tmax_h',
    'bs_i','gap_i','time_i','opt_i','tk_i','tmax_i',
    'bs_j','gap_j','time_j','opt_j','tk_j','tmax_j',
    ]]

,vertice,bs,gap,time,opt,tk,tmax,bs_f,gap_f,time_f,...,time_i,opt_i,tk_i,tmax_i,bs_j,gap_j,time_j,opt_j,tk_j,tmax_j
0,0,146.0,0.0,12.98,1.0,NaN,NaN,146.0,0.0,10.17,...,11.59,1.0,NaN,NaN,146.0,0.0,10.91,1.0,NaN,NaN
1,1,146.0,0.0,18.57,1.0,NaN,NaN,146.0,0.0,14.55,...,12.26,1.0,NaN,NaN,146.0,0.0,11.68,1.0,NaN,NaN
2,2,146.0,0.0,20.69,1.0,NaN,NaN,146.0,0.0,13.76,...,11.45,1.0,NaN,NaN,146.0,0.0,10.88,1.0,NaN,NaN
3,3,146.0,0.0,22.36,1.0,NaN,NaN,146.0,0.0,15.44,...,10.69,1.0,NaN,NaN,146.0,0.0,10.14,1.0,NaN,NaN
4,4,146.0,0.0,25.97,1.0,NaN,NaN,146.0,0.0,20.22,...,12.99,1.0,NaN,NaN,146.0,0.0,12.19,1.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
195,195,1.0,0.0,0.00,1.0,NaN,NaN,1.0,0.0,0.00,...,0.00,1.0,NaN,NaN,1.0,0.0,0.00,1.0,NaN,NaN
196,196,1.0,0.0,0.00,1.0,NaN,NaN,1.0,0.0,0.00,...,0.00,1.0,NaN,NaN,1.0,0.0,0.00,1.0,NaN,NaN
197,197,1.0,0.0,0.00,1.0,NaN,NaN,1.0,0.0,0.00,...,0.00,1.0,NaN,NaN,1.0,0.0,0.00,1.0,NaN,NaN
198,198,1.0,0.0,0.00,1.0,NaN,NaN,1.0,0.0,0.00,...,0.00,1.0,NaN,NaN,1.0,0.0,0.00,1.0,NaN,NaN
199,199,1.0,0.0,0.00,1.0,NaN,NaN,1.0,0.0,0.00,...,0.00,1.0,NaN,NaN,1.0,0.0,0.00,1.0,NaN,NaN

In [10]:
mip_concat = pd.DataFrame()
mip_concat = pd.concat([mip_concat, mip_internet_c2.loc[200:200]], ignore_index=True)
mip_concat = pd.concat([mip_concat, mip_internet_misetc2.loc[200:200]], ignore_index=True)
mip_concat = pd.concat([mip_concat, mip_internet_misetc3.loc[200:200]], ignore_index=True)
mip_concat = pd.concat([mip_concat, mip_internet_miset.loc[200:200]], ignore_index=True)
mip_concat = pd.concat([mip_concat, mip_internet_cutmisetc3.loc[200:200]], ignore_index=True)
mip_concat = pd.concat([mip_concat, mip_internet_cutbmisetc3.loc[200:200]], ignore_index=True)
mip_concat

,vertice,bb,bs,gap,time,nodes,opt,tk,tmax
0,mip_fminc2_200_7,5595.0,5595.0,0.0,667.70,6187.0,200.0,154.0,26.43
1,mip_fminmisetc2_200_7,5595.0,5595.0,0.0,622.57,989.0,200.0,154.0,26.34
2,mip_fminmisetc3_200_7,5595.0,5595.0,0.0,514.42,1032.0,200.0,154.0,21.98
3,mip_fminmiset_200_7,5007.0,5007.0,0.0,4.78,927.0,200.0,141.0,0.17
4,mip_fmincutmisetc3_200_7,5595.0,5595.0,0.0,477.08,1266.0,200.0,154.0,20.84
5,mip_fmincutbmisetc3_200_7,5595.0,5595.0,0.0,444.82,1339.0,200.0,154.0,19.82

In [11]:
print(
mip_concat[[
    'vertice','bs','gap','time','opt','tk','tmax',
    ]].to_latex(index=False,float_format="%.1f")
)

\begin{tabular}{lrrrrrr}
\toprule
                  vertice &     bs &  gap &  time &   opt &    tk &  tmax \\
\midrule
         mip\_fminc2\_200\_7 & 5595.0 &  0.0 & 667.7 & 200.0 & 154.0 &  26.4 \\
    mip\_fminmisetc2\_200\_7 & 5595.0 &  0.0 & 622.6 & 200.0 & 154.0 &  26.3 \\
    mip\_fminmisetc3\_200\_7 & 5595.0 &  0.0 & 514.4 & 200.0 & 154.0 &  22.0 \\
      mip\_fminmiset\_200\_7 & 5007.0 &  0.0 &   4.8 & 200.0 & 141.0 &   0.2 \\
 mip\_fmincutmisetc3\_200\_7 & 5595.0 &  0.0 & 477.1 & 200.0 & 154.0 &  20.8 \\
mip\_fmincutbmisetc3\_200\_7 & 5595.0 &  0.0 & 444.8 & 200.0 & 154.0 &  19.8 \\
\bottomrule
\end{tabular}

/tmp/ipykernel_9795/1047115439.py:2: FutureWarning: In future versions `DataFrame.to_latex` is expected to utilise the base implementation of `Styler.to_latex` for formatting and rendering. The arguments signature may therefore change. It is recommended instead to use `DataFrame.style.to_latex` which also contains additional functionality.
  mip_concat[[