In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [12]:
inst_="internet_graph"
method_="mip"
dim_=300
id_=5
ver_="fmin"

In [13]:
form_="fminc2"

file=f"../result/{inst_}/{method_}/{ver_}/{dim_}/{method_}_{form_}_{inst_}_{dim_}_{id_}.txt"

df = pd.DataFrame()
df = pd.read_csv(file,header=None,sep=';')

table = pd.DataFrame()
table = pd.concat([table, df], ignore_index=True)
table.columns = ['vertice','bb','bs','gap','time','nodes','opt']

resume = pd.DataFrame({
    'vertice':f"{method_}_{form_}_{dim_}_{id_}",
    'bb':table["bb"].sum(),
    'bs':table["bs"].sum(),
    'gap':table['gap'].sum(),
    'time':table['time'].sum(),
    'nodes':table['nodes'].sum(),
    'opt':table['opt'].sum(),
    "tk":table["bs"].max(),
    "tmax":table["time"].max()
    },index=[f"{form_}_{inst_}_{dim_}_{id_}"]
)

table = pd.concat([table, resume], ignore_index=True)
mip_internet_c2 = table
#mip_internet_c2

#print(mip_internet_c2[['vertice','bb','bs','gap','time','nodes','opt']].to_latex(index=False,float_format="%.2f"))

In [14]:
form_="fminmisetc2"

file=f"../result/{inst_}/{method_}/{ver_}/{dim_}/{method_}_{form_}_{inst_}_{dim_}_{id_}.txt"

df = pd.DataFrame()
df = pd.read_csv(file,header=None,sep=';')

table = pd.DataFrame()
table = pd.concat([table, df], ignore_index=True)
table.columns = ['vertice','bb','bs','gap','time','nodes','opt']

resume = pd.DataFrame({
    'vertice':f"{method_}_{form_}_{dim_}_{id_}",
    'bb':table["bb"].sum(),
    'bs':table["bs"].sum(),
    'gap':table['gap'].sum(),
    'time':table['time'].sum(),
    'nodes':table['nodes'].sum(),
    'opt':table['opt'].sum(),
    "tk":table["bs"].max(),
    "tmax":table["time"].max()
    },index=[f"{form_}_{inst_}_{dim_}_{id_}"]
)

table = pd.concat([table, resume], ignore_index=True)
mip_internet_misetc2 = table
#mip_internet_misetc2

#print(mip_internet_misetc2[['vertice','bb','bs','gap','time','nodes','opt']].to_latex(index=False,float_format="%.2f"))

In [15]:
form_="fminmisetc3"

file=f"../result/{inst_}/{method_}/{ver_}/{dim_}/{method_}_{form_}_{inst_}_{dim_}_{id_}.txt"

df = pd.DataFrame()
df = pd.read_csv(file,header=None,sep=';')

table = pd.DataFrame()
table = pd.concat([table, df], ignore_index=True)
table.columns = ['vertice','bb','bs','gap','time','nodes','opt']

resume = pd.DataFrame({
    'vertice':f"{method_}_{form_}_{dim_}_{id_}",
    'bb':table["bb"].sum(),
    'bs':table["bs"].sum(),
    'gap':table['gap'].sum(),
    'time':table['time'].sum(),
    'nodes':table['nodes'].sum(),
    'opt':table['opt'].sum(),
    "tk":table["bs"].max(),
    "tmax":table["time"].max()
    },index=[f"{form_}_{inst_}_{dim_}_{id_}"]
)

table = pd.concat([table, resume], ignore_index=True)
mip_internet_misetc3 = table
#mip_internet_misetc3

#print(mip_internet_misetc3[['vertice','bb','bs','gap','time','nodes','opt']].to_latex(index=False,float_format="%.2f"))

In [16]:
form_="fminmiset"

file=f"../result/{inst_}/{method_}/{ver_}/{dim_}/{method_}_{form_}_{inst_}_{dim_}_{id_}.txt"

df = pd.DataFrame()
df = pd.read_csv(file,header=None,sep=';')

table = pd.DataFrame()
table = pd.concat([table, df], ignore_index=True)
table.columns = ['vertice','bb','bs','gap','time','nodes','opt']

resume = pd.DataFrame({
    'vertice':f"{method_}_{form_}_{dim_}_{id_}",
    'bb':table["bb"].sum(),
    'bs':table["bs"].sum(),
    'gap':table['gap'].sum(),
    'time':table['time'].sum(),
    'nodes':table['nodes'].sum(),
    'opt':table['opt'].sum(),
    "tk":table["bs"].max(),
    "tmax":table["time"].max()
    },index=[f"{form_}_{inst_}_{dim_}_{id_}"]
)

table = pd.concat([table, resume], ignore_index=True)
mip_internet_miset = table
#mip_internet_miset

#print(mip_internet_miset[['vertice','bb','bs','gap','time','nodes','opt']].to_latex(index=False,float_format="%.2f"))

In [17]:
form_="fmincutmisetc3"

file=f"../result/{inst_}/{method_}/{ver_}/{dim_}/{method_}_{form_}_{inst_}_{dim_}_{id_}.txt"

df = pd.DataFrame()
df = pd.read_csv(file,header=None,sep=';')

table = pd.DataFrame()
table = pd.concat([table, df], ignore_index=True)
table.columns = ['vertice','bb','bs','gap','time','nodes','opt']

resume = pd.DataFrame({
    'vertice':f"{method_}_{form_}_{dim_}_{id_}",
    'bb':table["bb"].sum(),
    'bs':table["bs"].sum(),
    'gap':table['gap'].sum(),
    'time':table['time'].sum(),
    'nodes':table['nodes'].sum(),
    'opt':table['opt'].sum(),
    "tk":table["bs"].max(),
    "tmax":table["time"].max()
    },index=[f"{form_}_{inst_}_{dim_}_{id_}"]
)

table = pd.concat([table, resume], ignore_index=True)
mip_internet_cutmisetc3 = table
#mip_internet_cutmisetc3

#print(mip_internet_cut_misetc3[['vertice','bb','bs','gap','time','nodes','opt']].to_latex(index=False,float_format="%.2f"))

In [18]:
form_="fmincutbmisetc3"

file=f"../result/{inst_}/{method_}/{ver_}/{dim_}/{method_}_{form_}_{inst_}_{dim_}_{id_}.txt"

df = pd.DataFrame()
df = pd.read_csv(file,header=None,sep=';')

table = pd.DataFrame()
table = pd.concat([table, df], ignore_index=True)
table.columns = ['vertice','bb','bs','gap','time','nodes','opt']

resume = pd.DataFrame({
    'vertice':f"{method_}_{form_}_{dim_}_{id_}",
    'bb':table["bb"].sum(),
    'bs':table["bs"].sum(),
    'gap':table['gap'].sum(),
    'time':table['time'].sum(),
    'nodes':table['nodes'].sum(),
    'opt':table['opt'].sum(),
    "tk":table["bs"].max(),
    "tmax":table["time"].max()
    },index=[f"{form_}_{inst_}_{dim_}_{id_}"]
)

table = pd.concat([table, resume], ignore_index=True)
mip_internet_cutbmisetc3 = table
#mip_internet_cutbmisetc3

#print(mip_internet_cutb_misetc3[['vertice','bb','bs','gap','time','nodes','opt']].to_latex(index=False,float_format="%.2f"))

In [19]:
mip_merge = pd.DataFrame()

mip_merge = pd.merge(
    mip_internet_c2, mip_internet_misetc2,
    on=['vertice'], 
    suffixes=("", "_f"),
    )

mip_merge = pd.merge(
    mip_merge, mip_internet_misetc3,
    on=['vertice'], 
    suffixes=("", "_g"),
    )

mip_merge = pd.merge(
    mip_merge, mip_internet_miset,
    on=['vertice'], 
    suffixes=("", "_h"),
    )

mip_merge = pd.merge(
    mip_merge, mip_internet_cutmisetc3,
    on=['vertice'], 
    suffixes=("", "_i"),
    )


mip_merge = pd.merge(
    mip_merge, mip_internet_cutbmisetc3,
    on=['vertice'], 
    suffixes=("", "_j"),
    )

mip_merge[[
    'vertice',
    'bs','gap','time','opt','tk','tmax',
    'bs_f','gap_f','time_f','opt_f','tk_f','tmax_f',
    'bs_g','gap_g','time_g','opt_g','tk_g','tmax_g',
    'bs_h','gap_h','time_h','opt_h','tk_h','tmax_h',
    'bs_i','gap_i','time_i','opt_i','tk_i','tmax_i',
    'bs_j','gap_j','time_j','opt_j','tk_j','tmax_j',
    ]]

,vertice,bs,gap,time,opt,tk,tmax,bs_f,gap_f,time_f,...,time_i,opt_i,tk_i,tmax_i,bs_j,gap_j,time_j,opt_j,tk_j,tmax_j
0,0,204.0,0.0,52.22,1.0,NaN,NaN,204.0,0.0,43.56,...,11.13,1.0,NaN,NaN,204.0,0.0,9.23,1.0,NaN,NaN
1,1,204.0,0.0,50.80,1.0,NaN,NaN,204.0,0.0,42.60,...,9.41,1.0,NaN,NaN,204.0,0.0,8.03,1.0,NaN,NaN
2,2,223.0,0.0,49.77,1.0,NaN,NaN,223.0,0.0,38.12,...,25.75,1.0,NaN,NaN,223.0,0.0,23.35,1.0,NaN,NaN
3,3,204.0,0.0,36.49,1.0,NaN,NaN,204.0,0.0,22.01,...,7.65,1.0,NaN,NaN,204.0,0.0,6.38,1.0,NaN,NaN
4,4,204.0,0.0,52.18,1.0,NaN,NaN,204.0,0.0,45.03,...,10.50,1.0,NaN,NaN,204.0,0.0,8.59,1.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
295,295,1.0,0.0,0.00,1.0,NaN,NaN,1.0,0.0,0.00,...,0.00,1.0,NaN,NaN,1.0,0.0,0.00,1.0,NaN,NaN
296,296,1.0,0.0,0.00,1.0,NaN,NaN,1.0,0.0,0.00,...,0.00,1.0,NaN,NaN,1.0,0.0,0.00,1.0,NaN,NaN
297,297,1.0,0.0,0.00,1.0,NaN,NaN,1.0,0.0,0.00,...,0.00,1.0,NaN,NaN,1.0,0.0,0.00,1.0,NaN,NaN
298,298,1.0,0.0,0.00,1.0,NaN,NaN,1.0,0.0,0.00,...,0.00,1.0,NaN,NaN,1.0,0.0,0.00,1.0,NaN,NaN
299,299,1.0,0.0,0.00,1.0,NaN,NaN,1.0,0.0,0.00,...,0.00,1.0,NaN,NaN,1.0,0.0,0.00,1.0,NaN,NaN

In [20]:
mip_concat = pd.DataFrame()
mip_concat = pd.concat([mip_concat, mip_internet_c2.loc[300:300]], ignore_index=True)
mip_concat = pd.concat([mip_concat, mip_internet_misetc2.loc[300:300]], ignore_index=True)
mip_concat = pd.concat([mip_concat, mip_internet_misetc3.loc[300:300]], ignore_index=True)
mip_concat = pd.concat([mip_concat, mip_internet_miset.loc[300:300]], ignore_index=True)
mip_concat = pd.concat([mip_concat, mip_internet_cutmisetc3.loc[300:300]], ignore_index=True)
mip_concat = pd.concat([mip_concat, mip_internet_cutbmisetc3.loc[300:300]], ignore_index=True)
mip_concat

,vertice,bb,bs,gap,time,nodes,opt,tk,tmax
0,mip_fminc2_300_5,13030.0,13030.0,0.0,3956.80,11687.0,300.0,230.0,117.84
1,mip_fminmisetc2_300_5,13030.0,13030.0,0.0,3609.57,1147.0,300.0,230.0,87.57
2,mip_fminmisetc3_300_5,13030.0,13030.0,0.0,3384.58,1203.0,300.0,230.0,91.17
3,mip_fminmiset_300_5,11847.0,11847.0,0.0,13.08,1438.0,300.0,206.0,0.31
4,mip_fmincutmisetc3_300_5,13030.0,13030.0,0.0,1229.31,1850.0,300.0,230.0,199.54
5,mip_fmincutbmisetc3_300_5,13030.0,13030.0,0.0,1087.67,2044.0,300.0,230.0,187.55

In [21]:
print(
mip_concat[[
    'vertice','bs','gap','time','opt','tk','tmax',
    ]].to_latex(index=False,float_format="%.1f")
)

\begin{tabular}{lrrrrrr}
\toprule
                  vertice &      bs &  gap &   time &   opt &    tk &  tmax \\
\midrule
         mip\_fminc2\_300\_5 & 13030.0 &  0.0 & 3956.8 & 300.0 & 230.0 & 117.8 \\
    mip\_fminmisetc2\_300\_5 & 13030.0 &  0.0 & 3609.6 & 300.0 & 230.0 &  87.6 \\
    mip\_fminmisetc3\_300\_5 & 13030.0 &  0.0 & 3384.6 & 300.0 & 230.0 &  91.2 \\
      mip\_fminmiset\_300\_5 & 11847.0 &  0.0 &   13.1 & 300.0 & 206.0 &   0.3 \\
 mip\_fmincutmisetc3\_300\_5 & 13030.0 &  0.0 & 1229.3 & 300.0 & 230.0 & 199.5 \\
mip\_fmincutbmisetc3\_300\_5 & 13030.0 &  0.0 & 1087.7 & 300.0 & 230.0 & 187.6 \\
\bottomrule
\end{tabular}

/tmp/ipykernel_24979/1047115439.py:2: FutureWarning: In future versions `DataFrame.to_latex` is expected to utilise the base implementation of `Styler.to_latex` for formatting and rendering. The arguments signature may therefore change. It is recommended instead to use `DataFrame.style.to_latex` which also contains additional functionality.
  mip_concat[[