In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [12]:
inst_="internet_graph"
method_="lp"
dim_=200
id_=2
ver_="fmin"
dir_="/home/jossian/repository/tukey/result"

In [14]:
form_="fminc0"

file=f"{dir_}/{inst_}/{method_}/{ver_}/{method_}_{form_}_{inst_}_{dim_}_{id_}.txt"

df = pd.DataFrame()
df = pd.read_csv(file,header=None,sep=';')

table = pd.DataFrame()
table = pd.concat([table, df], ignore_index=True)
table.columns = ['vertice','bb','time','opt']

resume = pd.DataFrame({
    'vertice':f"{method_}_{form_}_{dim_}_{id_}",
    'bb':table["bb"].sum(),
    'time':table['time'].sum(),
    'opt':table['opt'].sum(),
    'tk':table['bb'].max()
    },index=[f"{form_}_{inst_}_{dim_}_{id_}"]
)

table = pd.concat([table, resume], ignore_index=True)
lp_internet_c0 = table
#lp_internet_c0

#print(lp_internet_c0[['vertice','bb','time','opt']].to_latex(index=False,float_format="%.2f"))

In [15]:
form_="fminc0noclq"

file=f"{dir_}/{inst_}/{method_}/{ver_}/{method_}_{form_}_{inst_}_{dim_}_{id_}.txt"

df = pd.DataFrame()
df = pd.read_csv(file,header=None,sep=';')

table = pd.DataFrame()
table = pd.concat([table, df], ignore_index=True)
table.columns = ['vertice','bb','time','opt']

resume = pd.DataFrame({
    'vertice':f"{method_}_{form_}_{dim_}_{id_}",
    'bb':table["bb"].sum(),
    'time':table['time'].sum(),
    'opt':table['opt'].sum(),
    'tk':table['bb'].max()
    },index=[f"{form_}_{inst_}_{dim_}_{id_}"]
)

table = pd.concat([table, resume], ignore_index=True)
lp_internet_c0noclq = table
#lp_internet_c0noclq

#print(lp_internet_c0noclq[['vertice','bb','time','opt']].to_latex(index=False,float_format="%.2f"))

In [16]:
form_="fminc1"

file=f"{dir_}/{inst_}/{method_}/{ver_}/{method_}_{form_}_{inst_}_{dim_}_{id_}.txt"

df = pd.DataFrame()
df = pd.read_csv(file,header=None,sep=';')

table = pd.DataFrame()
table = pd.concat([table, df], ignore_index=True)
table.columns = ['vertice','bb','time','opt']

resume = pd.DataFrame({
    'vertice':f"{method_}_{form_}_{dim_}_{id_}",
    'bb':table["bb"].sum(),
    'time':table['time'].sum(),
    'opt':table['opt'].sum(),
    'tk':table['bb'].max()
    },index=[f"{form_}_{inst_}_{dim_}_{id_}"]
)

table = pd.concat([table, resume], ignore_index=True)
lp_internet_c1 = table
#lp_internet_c1

#print(lp_internet_c1[['vertice','bb','time','opt']].to_latex(index=False,float_format="%.2f"))

In [17]:
form_="fminc1noclq"

file=f"{dir_}/{inst_}/{method_}/{ver_}/{method_}_{form_}_{inst_}_{dim_}_{id_}.txt"

df = pd.DataFrame()
df = pd.read_csv(file,header=None,sep=';')

table = pd.DataFrame()
table = pd.concat([table, df], ignore_index=True)
table.columns = ['vertice','bb','time','opt']

resume = pd.DataFrame({
    'vertice':f"{method_}_{form_}_{dim_}_{id_}",
    'bb':table["bb"].sum(),
    'time':table['time'].sum(),
    'opt':table['opt'].sum(),
    'tk':table['bb'].max()
    },index=[f"{form_}_{inst_}_{dim_}_{id_}"]
)

table = pd.concat([table, resume], ignore_index=True)
lp_internet_c1noclq = table
#lp_internet_c1noclq

#print(lp_internet_c1noclq[['vertice','bb','time','opt']].to_latex(index=False,float_format="%.2f"))

In [18]:
form_="fminc2"

file=f"{dir_}/{inst_}/{method_}/{ver_}/{method_}_{form_}_{inst_}_{dim_}_{id_}.txt"

df = pd.DataFrame()
df = pd.read_csv(file,header=None,sep=';')

table = pd.DataFrame()
table = pd.concat([table, df], ignore_index=True)
table.columns = ['vertice','bb','time','opt']

resume = pd.DataFrame({
    'vertice':f"{method_}_{form_}_{dim_}_{id_}",
    'bb':table["bb"].sum(),
    'time':table['time'].sum(),
    'opt':table['opt'].sum(),
    'tk':table['bb'].max()
    },index=[f"{form_}_{inst_}_{dim_}_{id_}"]
)

table = pd.concat([table, resume], ignore_index=True)
lp_internet_c2 = table
#lp_internet_c2

#print(lp_internet_c2[['vertice','bb','time','opt']].to_latex(index=False,float_format="%.2f"))

In [19]:
form_="fminmisetc2"

file=f"{dir_}/{inst_}/{method_}/{ver_}/{method_}_{form_}_{inst_}_{dim_}_{id_}.txt"

df = pd.DataFrame()
df = pd.read_csv(file,header=None,sep=';')

table = pd.DataFrame()
table = pd.concat([table, df], ignore_index=True)
table.columns = ['vertice','bb','time','opt']

resume = pd.DataFrame({
    'vertice':f"{method_}_{form_}_{dim_}_{id_}",
    'bb':table["bb"].sum(),
    'time':table['time'].sum(),
    'opt':table['opt'].sum(),
    'tk':table['bb'].max()
    },index=[f"{form_}_{inst_}_{dim_}_{id_}"]
)

table = pd.concat([table, resume], ignore_index=True)
lp_internet_misetc2 = table
#lp_internet_misetc2

#print(lp_internet_misetc2[['vertice','bb','time','opt']].to_latex(index=False,float_format="%.2f"))

In [20]:
form_="fminmisetc3"

file=f"{dir_}/{inst_}/{method_}/{ver_}/{method_}_{form_}_{inst_}_{dim_}_{id_}.txt"

df = pd.DataFrame()
df = pd.read_csv(file,header=None,sep=';')

table = pd.DataFrame()
table = pd.concat([table, df], ignore_index=True)
table.columns = ['vertice','bb','time','opt']

resume = pd.DataFrame({
    'vertice':f"{method_}_{form_}_{dim_}_{id_}",
    'bb':table["bb"].sum(),
    'time':table['time'].sum(),
    'opt':table['opt'].sum(),
    'tk':table['bb'].max()
    },index=[f"{form_}_{inst_}_{dim_}_{id_}"]
)

table = pd.concat([table, resume], ignore_index=True)
lp_internet_misetc3 = table
#lp_internet_misetc3

#print(lp_internet_misetc3[['vertice','bb','time','opt']].to_latex(index=False,float_format="%.2f"))

In [23]:
form_="fminmiset"

file=f"{dir_}/{inst_}/{method_}/{ver_}/{method_}_{form_}_{inst_}_{dim_}_{id_}.txt"

df = pd.DataFrame()
df = pd.read_csv(file,header=None,sep=';')

table = pd.DataFrame()
table = pd.concat([table, df], ignore_index=True)
table.columns = ['vertice','bb','time','opt']

resume = pd.DataFrame({
    'vertice':f"{method_}_{form_}_{dim_}_{id_}",
    'bb':table["bb"].sum(),
    'time':table['time'].sum(),
    'opt':table['opt'].sum(),
    'tk':table['bb'].max()
    },index=[f"{form_}_{inst_}_{dim_}_{id_}"]
)

table = pd.concat([table, resume], ignore_index=True)
lp_internet_miset = table
#lp_internet_miset

#print(lp_internet_miset[['vertice','bb','time','opt']].to_latex(index=False,float_format="%.2f"))

In [24]:
lp_merge = pd.DataFrame()

lp_merge = pd.merge(
    lp_internet_c0, lp_internet_c0noclq,
    on=['vertice'], 
    suffixes=("", "_b"),
    )

lp_merge = pd.merge(
    lp_merge, lp_internet_c1,
    on=['vertice'], 
    suffixes=("", "_c"),
    )

lp_merge = pd.merge(
    lp_merge, lp_internet_c1noclq,
    on=['vertice'], 
    suffixes=("", "_d"),
    )

lp_merge = pd.merge(
    lp_merge, lp_internet_c2,
    on=['vertice'], 
    suffixes=("", "_e"),
    )

lp_merge = pd.merge(
    lp_merge, lp_internet_misetc2,
    on=['vertice'], 
    suffixes=("", "_f"),
    )

lp_merge = pd.merge(
    lp_merge, lp_internet_misetc3,
    on=['vertice'], 
    suffixes=("", "_g"),
    )

lp_merge = pd.merge(
    lp_merge, lp_internet_miset,
    on=['vertice'], 
    suffixes=("", "_h"),
    )

lp_merge

,vertice,bb,time,opt,tk,bb_b,time_b,opt_b,tk_b,bb_c,...,opt_f,tk_f,bb_g,time_g,opt_g,tk_g,bb_h,time_h,opt_h,tk_h
0,0,83.0,0.47,1.0,NaN,83.0,0.47,1.0,NaN,83.0,...,1.0,NaN,92.3,0.25,1.0,NaN,66.3,0.0,1.0,NaN
1,1,75.0,0.42,1.0,NaN,75.0,0.43,1.0,NaN,75.0,...,1.0,NaN,81.8,0.23,1.0,NaN,51.4,0.0,1.0,NaN
2,2,75.2,0.42,1.0,NaN,75.2,0.42,1.0,NaN,75.2,...,1.0,NaN,75.0,0.17,1.0,NaN,39.4,0.0,1.0,NaN
3,3,89.9,0.44,1.0,NaN,89.9,0.44,1.0,NaN,89.9,...,1.0,NaN,104.1,0.25,1.0,NaN,78.8,0.0,1.0,NaN
4,4,81.5,0.43,1.0,NaN,81.5,0.43,1.0,NaN,81.5,...,1.0,NaN,92.7,0.28,1.0,NaN,56.8,0.0,1.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
195,195,1.0,0.00,1.0,NaN,1.0,0.05,1.0,NaN,1.0,...,1.0,NaN,1.0,0.00,1.0,NaN,1.0,0.0,1.0,NaN
196,196,1.0,0.00,1.0,NaN,1.0,0.06,1.0,NaN,1.0,...,1.0,NaN,1.0,0.00,1.0,NaN,1.0,0.0,1.0,NaN
197,197,1.0,0.00,1.0,NaN,1.0,0.05,1.0,NaN,1.0,...,1.0,NaN,1.0,0.00,1.0,NaN,1.0,0.0,1.0,NaN
198,198,1.0,0.00,1.0,NaN,1.0,0.06,1.0,NaN,1.0,...,1.0,NaN,1.0,0.00,1.0,NaN,1.0,0.0,1.0,NaN
199,199,1.0,0.00,1.0,NaN,1.0,0.06,1.0,NaN,1.0,...,1.0,NaN,1.0,0.00,1.0,NaN,1.0,0.0,1.0,NaN

In [25]:
lp_merge[[
    'vertice',
    'bb','tk',
    'bb_b','tk_b',
    'bb_c','tk_c',
    'bb_d','tk_d',
    'bb_e','tk_e',
    'bb_f','tk_f',
    'bb_g','tk_g',
    'bb_h','tk_h',
    ]]

,vertice,bb,tk,bb_b,tk_b,bb_c,tk_c,bb_d,tk_d,bb_e,tk_e,bb_f,tk_f,bb_g,tk_g,bb_h,tk_h
0,0,83.0,NaN,83.0,NaN,83.0,NaN,83.0,NaN,72.3,NaN,92.3,NaN,92.3,NaN,66.3,NaN
1,1,75.0,NaN,75.0,NaN,75.0,NaN,75.0,NaN,65.2,NaN,81.8,NaN,81.8,NaN,51.4,NaN
2,2,75.2,NaN,75.2,NaN,75.2,NaN,75.2,NaN,66.6,NaN,75.0,NaN,75.0,NaN,39.4,NaN
3,3,89.9,NaN,89.9,NaN,89.9,NaN,89.9,NaN,73.7,NaN,104.1,NaN,104.1,NaN,78.8,NaN
4,4,81.5,NaN,81.5,NaN,81.5,NaN,81.5,NaN,71.2,NaN,92.7,NaN,92.7,NaN,56.8,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
195,195,1.0,NaN,1.0,NaN,1.0,NaN,1.0,NaN,1.0,NaN,1.0,NaN,1.0,NaN,1.0,NaN
196,196,1.0,NaN,1.0,NaN,1.0,NaN,1.0,NaN,1.0,NaN,1.0,NaN,1.0,NaN,1.0,NaN
197,197,1.0,NaN,1.0,NaN,1.0,NaN,1.0,NaN,1.0,NaN,1.0,NaN,1.0,NaN,1.0,NaN
198,198,1.0,NaN,1.0,NaN,1.0,NaN,1.0,NaN,1.0,NaN,1.0,NaN,1.0,NaN,1.0,NaN
199,199,1.0,NaN,1.0,NaN,1.0,NaN,1.0,NaN,1.0,NaN,1.0,NaN,1.0,NaN,1.0,NaN

In [28]:
#print(result[['vertice','bb','bb_fmax','bb_miset','bb_neighb']].to_latex(index=False,float_format="%.1f"))

#with open('../../../result/fmin_lp_internet_200_2.tex', 'w') as tf:
#     tf.write(
#          lp_merge[[
#               'vertice',
#               'bb','tk',
#               'bb_b','tk_b',
#               'bb_c','tk_c',
#               'bb_d','tk_d',
#               'bb_e','tk_e',
#               'bb_f','tk_f',
#               'bb_g','tk_g',
#               'bb_h','tk_h',
#    ]].to_latex(index=False,float_format="%.1f")
#)

In [29]:
lp_concat = pd.DataFrame()
lp_concat = pd.concat([lp_concat,lp_internet_c0.loc[200:200]], ignore_index= True)
lp_concat = pd.concat([lp_concat,lp_internet_c0noclq.loc[200:200]], ignore_index= True)
lp_concat = pd.concat([lp_concat,lp_internet_c1.loc[200:200]], ignore_index= True)
lp_concat = pd.concat([lp_concat,lp_internet_c1noclq.loc[200:200]], ignore_index= True)
lp_concat = pd.concat([lp_concat,lp_internet_c2.loc[200:200]], ignore_index= True)
lp_concat = pd.concat([lp_concat,lp_internet_misetc2.loc[200:200]], ignore_index= True)
lp_concat = pd.concat([lp_concat,lp_internet_misetc3.loc[200:200]], ignore_index= True)
lp_concat = pd.concat([lp_concat,lp_internet_miset.loc[200:200]], ignore_index= True)
lp_concat

                vertice      bb   time    opt     tk
0       lp_fminc0_200_2  2912.1  17.62  200.0   95.0
1  lp_fminc0noclq_200_2  2912.1  26.98  200.0   95.0
2       lp_fminc1_200_2  2912.1   8.35  200.0   95.0
3  lp_fminc1noclq_200_2  2912.1  12.94  200.0   95.0
4       lp_fminc2_200_2  2573.0  10.79  200.0   76.7
5  lp_fminmisetc2_200_2  3076.5  10.49  200.0  111.2
6  lp_fminmisetc3_200_2  3075.3   8.91  200.0  111.2
7    lp_fminmiset_200_2  1609.9   0.00  200.0   86.1

In [30]:
print(
lp_concat[['vertice','bb','time','tk']].to_latex(index=False,float_format="%.1f")
)

\begin{tabular}{lrrr}
\toprule
vertice & bb & time & tk \\
\midrule
lp_fminc0_200_2 & 2912.1 & 17.6 & 95.0 \\
lp_fminc0noclq_200_2 & 2912.1 & 27.0 & 95.0 \\
lp_fminc1_200_2 & 2912.1 & 8.3 & 95.0 \\
lp_fminc1noclq_200_2 & 2912.1 & 12.9 & 95.0 \\
lp_fminc2_200_2 & 2573.0 & 10.8 & 76.7 \\
lp_fminmisetc2_200_2 & 3076.5 & 10.5 & 111.2 \\
lp_fminmisetc3_200_2 & 3075.3 & 8.9 & 111.2 \\
lp_fminmiset_200_2 & 1609.9 & 0.0 & 86.1 \\
\bottomrule
\end{tabular}